CREATE TABLE [dbo].[LogMessage](
	[Id] INT PRIMARY KEY IDENTITY(1,1) NOT NULL,
	[LogTime] DATETIME NOT NULL DEFAULT(GETDATE()),
	[Thread] VARCHAR(10) NOT NULL,
	[Level] VARCHAR(10) NOT NULL,
	[Logger] VARCHAR(255) NOT NULL,
	[Message] VARCHAR(255) NOT NULL,
	[ExMessage] NTEXT NULL
) 
